<div class="row">
    <div class="col-md-12">
    <h1 class="text-danger text-center" style="background-color:rgb(243, 230, 224)">Share Data</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <app-child1></app-child1>
    </div>
    <div class="col-md-4">
        <app-child2></app-child2>
       </div>
       <div class="col-md-2"></div>
</div>
<br/><br/>
<div class="row">
    <div class="col-md-12">
        <footer>
            <p style="color: blue;background-color:rgb(243, 230, 224)">In this demo we are passing data from one Componentto other using Angular Service. For this we are 
                asking price in one Component and set this value in other Componenttable and display result.</p>
          </footer>
    </div>
</div>
