<br/>
<img src="../assets/html.png" />
<br/><br/>
<img src="../assets/logic.png"/>
<br/><br/>
<img src="../assets/provide.png" />
<br/><br/>
<img src="../assets/er.png" />
<br/><br/>
<img src="../assets/handle.png" />
<div class="row">
    <div class ="col-md-6"></div>
<div class ="col-md-4"><button (click)='generateError()' class="btn btn-danger">Error Generate</button></div>
<div class ="col-md-2"></div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <footer>
            <p style="color: blue;background-color:rgb(243, 230, 224)">In this demo we are handling global error by making a service of which implement ErrorHandler 
             class and we provider for that token in module.ts.</p>
          </footer>
    </div>
</div>