<hr>
<h1>My Angular Learnings</h1>
<br>
<div class="row">
    <img src="../assets/angular.jpg" width="25%" height="25%">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <br>
        <strong>1. </strong> <label routerLink="/data-binding"> Data-Binding </label>
        <br><br>
        <strong>2. </strong>  <label routerLink="/Product"> Product Table </label>
        <br><br>
        <strong>3. </strong> <label routerLink="/MasterDetails"> Master-Table </label>
        <br><br>
        <strong>4. </strong> <label routerLink="/ShareData"> Reactive Form Share-Data </label>
        <br><br>
        <strong>5. </strong> <label routerLink="/errorHandler"> Global Error Handler </label>
        <br><br>
        <strong>6. </strong> <label routerLink="/directive"> Attribute Directive </label>
        <br><br>
        <strong>7. </strong> <label routerLink="/login"> LogIn </label>
        <br><br>
        <strong>8. </strong> <label routerLink="/rxjs"> RxJs Demo </label>
    </div>
</div>












<!-- <br/>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
   <h1 style="color: blue;">Angular Learning Demo</h1>
   <br/>
</div>
</div>
<div class="row">
<div class="col-md-2"></div>
<img src="../assets/angular.jpg" height="300" width="300"/>
</div>


<br/>
<div class="row">
    <div class="col-md-12">
        <footer>
            <p style="color: blue;background-color:rgb(243, 230, 224)">In this demo you will be familier with Data Binding, Component 
                Communication, Angular Services,Data Sharing, Directive,Error Handling and Provider</p>
          </footer>
    </div>
</div> -->