<br/>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
   <h1 style="color: blue;">Angular Learning Demo</h1>
   <br/>
</div>
</div>
<div class="row">
<div class="col-md-2"></div>
<img src="../assets/angular.jpg" height="300" width="300"/>
</div>


<br/>
<div class="row">
    <div class="col-md-12">
        <footer>
            <p style="color: blue;background-color:rgb(243, 230, 224)">In this demo you will be familier with Data Binding, Component 
                Communication, Angular Services,Data Sharing, Directive,Error Handling and Provider</p>
          </footer>
    </div>
</div>